<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>
<div class="container">
    <h2>Apologies</h2>
    <b><%= message %></b>
</div>
</body>
</html>